// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$font-ubuntu:           'Ubuntu', sans-serif;
$font-family-base:      'Ubuntu', sans-serif;

$basic-color-white:                       #FFF;
$basic-color-black:                       #000;
$basic-design-color:                      rgba(106,109,122,1);
$basic-background-color-transparency:     rgba(255,255,255,0.2);

$background-color:      #FFF;

$button-border-radius:  6px;

$font-size-base:        1.5rem; //
$font-size-small:       2.0rem; //
$font-size-x-small:     2.5rem; //
$font-size-medium:      3.0rem; //
$font-size-x-medium:    3.5rem; //
$font-size-large:       4.0rem; //
$font-size-x-large:     4.5rem; //

$menu-md-background:            #FFF;
$menu-md-box-shadow-color:      rgba(0, 0, 0, .25);
$menu-md-box-shadow: 0 0 10px   $menu-md-box-shadow-color;

$toolbar-md-text-color:     $basic-design-color;

$list-md-text-color:        $basic-design-color;
$list-md-header-color:	    $basic-color-white;
$list-md-header-font-size:	$font-size-small;

$toggle-md-active-color:    $basic-design-color;

$button-md-color:           $basic-design-color;
$toolbar-md-button-color:   $basic-design-color;

$tabbar-md-item-icon-size: 2.8em;

$radio-md-color-off:    rgba(106,109,122,0.5);
$radio-md-color-on:     rgba(106,109,122,1);

//$checkbox-md-icon-size: 28px;
//$checkbox-md-icon-checkmark-width: 3px;
$checkbox-md-icon-background-color-on:    rgba(106,109,122,0.5);
$checkbox-md-icon-background-color-off:   rgba(106,109,122,0.5);
$checkbox-md-icon-border-color-on:        rgba(106,109,122,1);
$checkbox-md-icon-border-color-off:       rgba(106,109,122,1);

$card-md-text-color:        $basic-design-color;
$card-md-title-text-color:  $basic-design-color;

/*
$item-md-padding-left: 16px; //-> Item Left Padding Fail
button {
  &.item {
    padding-right: 16px !important;
  }
}*/

$colors: (
  primary:      #333,
  secondary:    #6A6D7A,
  danger:       #f53d3d,
  success:      #008000,
  light:        #f4f4f4,
  dark:         #222,
  white:        #FFF,
  favorite:     #69BB7B,
  confirmed:    rgba(106,109,122,1),
  unconfirmed:  rgba(106,109,122,0.5),
  menu-item: (
          base:     $basic-design-color,                         //-> Background
          contrast: $basic-design-color,                         //-> Text
  ),
  menutoggle: (
          base:     $basic-design-color,                         //-> Background
          contrast: $basic-design-color,                         //-> Text
  ),
  number: (
          base:     $basic-design-color,                         //-> Background
          contrast: $basic-color-white,                          //-> Text
  ),
  number-decimals: (
          base:     $basic-background-color-transparency,        //-> Background
          contrast: $basic-color-white,                          //-> Text
  ),
  number-backspaceinput: (
          base:     $basic-background-color-transparency,         //-> Background
          contrast: $basic-color-white,                           //-> Text
  ),
  numbpad-reset: (
          base:     $basic-background-color-transparency,         //-> Background
          contrast: $basic-color-white,                           //-> Text
  ),
  numbpad-request: (
          base:     $basic-color-white,                           //-> Background
          contrast: $basic-design-color,                          //-> Text
  ),
  show-history: (
          base:     $basic-color-white,                           //-> Background
          contrast: $basic-design-color,                          //-> Text
  ),
  checkbox-style: (
          base:     $basic-color-white,                           //-> Background
          contrast: $basic-design-color,                          //-> Text
  )
);
