// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// @import "../pages/page1/page1";

@import "../pages/amount/amount.scss";
@import "../pages/payment/payment.scss";
@import "../pages/history/history.scss";
@import "../pages/onboarding/onboarding.scss";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path}/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path}/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path}/Ubuntu-C.ttf") format("truetype");
}

html, body {
  font-family: $font-ubuntu;
}

ion-menu {
  .menu-top {
    background: #EBEBEB;//#dedede;
    margin-bottom:-2px;
    text-align:center;
    img {
      display:inline-block;
    }
  }
  scroll-content {
    overflow-y: hidden;
  }

}

#menu {
  ion-list {
    //height: 100%;
  }
  ion-title {
    min-width: 100%;
    min-height: 25%;
    background: url(../../img/bitpocket_menue_header_640x347.jpg) no-repeat center center;
    background-size: cover;
  }
}

.menu-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.menu-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}


ion-navbar {
  .logo {
    min-width: 2.0rem;
    min-height: 2.0rem;
    background: url(../../img/bitpocket_icon_grey_135x135.svg) no-repeat center center;
    background-size: cover;
  }

  .logo-loading {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  }
}

ion-content {
  background: url(../../img/background.png) no-repeat center center;
  background-size: cover;
}

.divider-box {
  margin: 3% 0 8% 0;
  position: relative;
  .divider {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
    &.black {
      background-image: linear-gradient(to right, rgba(0,0,0, 0), rgba(0,0,0, 0.75), rgba(0,0,0, 0))
    }
  }
}
