<ion-navbar *navbar>
    <button menuToggle="left"><ion-icon name="menu"></ion-icon></button>
    <ion-title>Request amount</ion-title>
    <ion-buttons end>
        <button (click)="navigateToAmountPage()">
            <div class="logo"></div>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content class="amount">
        <div class="amount-input">
            <ion-row>
                <ion-col  class="checkbox" [ngClass]="{active:entryInFiat}" width-10>
                <ion-checkbox checkbox-style [(ngModel)]="entryInFiat" (click)="changeInputCurrency('Fiat')"></ion-checkbox>
                </ion-col>

                <ion-col  class="amount-type" [ngClass]="{active:entryInFiat}" width-20>
                    <ion-label (click)="changeInputCurrency('Fiat')">{{ currency }}</ion-label>
                </ion-col>

                <ion-col  class="readable-amount" [ngClass]="{active:entryInFiat}" width-60>
                    <div class="amount-input-form" [ngClass]="{active:entryInFiat}">
                        <div *ngIf="entryInFiat">
                            <span clear class="number digits" [ngStyle]="{'font-size': fontSize+'rem'}">{{ digits }}</span><span class="separator" [ngStyle]="{'font-size': fontSize+'rem'}">{{ separator }}</span><span clear class="number decimals" [ngStyle]="{'font-size': fontSize+'rem'}">{{ decimals }}</span>
                        </div>
                        <span *ngIf="entryInBTC">{{ exchangedAmount }}</span>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="checkbox" [ngClass]="{active:entryInBTC}" width-10>
                    <ion-checkbox checkbox-style [(ngModel)]="entryInBTC" (click)="changeInputCurrency('BTC')"></ion-checkbox>
                </ion-col>

                <ion-col class="amount-type" [ngClass]="{active:entryInBTC}" width-20>
                    <ion-label (click)="changeInputCurrency('BTC')">{{ bitcoinUnit }}</ion-label>
                </ion-col>

                <ion-col class="readable-amount" [ngClass]="{active:entryInBTC}" width-70>
                    <div class="amount-input-form" [ngClass]="{active:entryInBTC}">
                        <span *ngIf="entryInBTC">
                            <span clear class="number digits" [ngStyle]="{'font-size': fontSize+'rem'}">{{ digits }}</span><span class="separator" [ngStyle]="{'font-size': fontSize+'rem'}">{{ separator }}</span><span clear class="number decimals" [ngStyle]="{'font-size': fontSize+'rem'}">{{ decimals }}</span>
                        </span>
                        <span *ngIf="entryInFiat">{{ exchangedAmount }}</span>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div class="divider-box">
            <div class="divider"></div>
        </div>

        <div class="amount-numpad">
            <button number class="amount-numpad-button border-right" (click)="numberInput(1)">1</button>
            <button number class="amount-numpad-button border-right" (click)="numberInput(2)">2</button>
            <button number class="amount-numpad-button" (click)="numberInput(3)">3</button>
            
            <button number class="amount-numpad-button border-right" (click)="numberInput(4)">4</button>
            <button number class="amount-numpad-button border-right" (click)="numberInput(5)">5</button>
            <button number class="amount-numpad-button" (click)="numberInput(6)">6</button>
            
            <button number class="amount-numpad-button border-right" (click)="numberInput(7)">7</button>
            <button number class="amount-numpad-button border-right" (click)="numberInput(8)">8</button>
            <button number class="amount-numpad-button" (click)="numberInput(9)">9</button>
            
            <button number-decimals class="amount-numpad-button" (click)="switchInput('decimals')">{{ separator }}</button>
            <button number class="amount-numpad-button border-right" (click)="numberInput(0)">0</button>
            <button number-backspaceinput class="amount-numpad-button border-right" (click)="backspaceInput()"><ion-icon name="backspace"></ion-icon></button>
            
            <button numbpad-reset class="amount-numpad-primary-button text-uppercase" (click)="resetAmount()">Reset</button>
            <button numbpad-request class="amount-numpad-primary-button text-uppercase" (click)="requestPayment()">Request Amount</button>
        </div>
    
</ion-content>