.amount, .payment, .payment-result, .history {

    .amount-input {
        color: #FFF;
        /* iPad mini, iPad and up */
        margin: 1rem 2rem;
        /* iPhone 6, 6s, 6Plus, Nexus 5X, Nexus 6P,  - Portrait 374 bis 767*/
        @media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            margin: 2rem 4rem;
        }
        /* Galaxy S3, S5, Note II,  - Portrait 360 bis 374*/
        @media only screen and (min-device-width: 360px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            margin: 2rem 4rem;
        }
        /* iPhone 5 - 5s Portrait */
        @media only screen and (min-device-width: 320px) and (max-device-width: 359px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            margin: 0.8rem 1.8rem;
        }
        ion-checkbox, ion-label, ion-col {
            display: inline-block;
        }
        ion-row {
            line-height: $font-size-large;
            vertical-align: middle;
            ion-col {
                padding: 0;
                &.amount-type {
                    text-align: left;
                    font-size: $font-size-x-small;
                }
                &.readable-amount {
                    text-align: right;
                    transition: font-size 500ms ease-in-out;
                }
                &.checkbox {
                    line-height: $font-size-x-large;
                }
            }
            ion-label {
                margin: 0 0 0 3px;
            }
        }
        &.history{
            color: $basic-design-color;
            margin: 0;
        }

    }

    .xamount-input {
        color: #FFF;
        /* iPad mini, iPad and up */
        margin: 1rem 2rem;
        /* iPhone 6, 6s, 6Plus, Nexus 5X, Nexus 6P,  - Portrait 374 bis 767*/
        @media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            margin: 2rem 4rem;
        }
        /* Galaxy S3, S5, Note II,  - Portrait 360 bis 374*/
        @media only screen and (min-device-width: 360px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            margin: 2rem 4rem;
        }
        /* iPhone 5 - 5s Portrait */
        @media only screen and (min-device-width: 320px) and (max-device-width: 359px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            margin: 0.8rem 1.8rem;
        }

        ion-checkbox, ion-label, ion-col {
            display: inline-block;
            vertical-align: middle;
            padding: 0;
        }

        .checkbox, .amount-type, .icon-pos {
            line-height: $font-size-x-large;
            font-size: $font-size-x-small;
            ion-label {
                margin: 0 0 0 3px;
            }
            &.active {
                line-height: $font-size-x-large;
            }
        }

        .readable-amount {
            transition: font-size 500ms ease-in-out;
            text-align: right;
            line-height: $font-size-x-large;
            ion-label {
                margin: 0 0 0 3px;
            }
        }
        .amount-input-form {
            .number {
                display:inline-block;
                margin:0;
                padding:0;

                &.digits {
                    text-align:right;
                }

                &.decimals {
                }
            }
        }
        &.history{
            color: $basic-design-color;
            margin: 0;
        }
    }

    .amount-numpad {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        /* iPad mini, iPad and up */
        height: 65%;
        padding: 0 3.0rem;
        /* iPhone 5 - 5s Portrait */
        @media only screen and (min-device-width: 320px) and (max-device-width: 359px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            padding: 0 3.0rem;
        }
        /* Galaxy S3, S5, Note II,  - Portrait 360 bis 374*/
        @media only screen and (min-device-width: 360px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            padding: 0 3.0rem;
        }
        /* iPhone 6, 6s, Nexus 5X, Nexus 6P,  - Portrait 374 bis 414*/
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            padding: 0 2.0rem;
        }
        /* iPhone 6-S Plus - Portrait 414 bis 767*/
        @media only screen and (min-device-width: 414px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            height: 70%;
            padding: 0 3.5rem;
        }
        .button-number-backspaceinput {
            font-size: $font-size-x-small;
        }
    }

    .amount-numpad-primary-button {
        font-size: $font-size-base;
        border-radius: $button-border-radius;
        margin: 2%;
        flex: 1 1 45%;
        &:nth-child(13) {
            flex: 1 1 30%;
        }
        &:nth-child(14) {
            flex: 1 1 60%;
        }
    }

    .amount-numpad-button {
        /* iPhone 5 - 5s Portrait */
        @media only screen and (min-device-width: 320px) and (max-device-width: 359px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            flex: 0 1 50px;
            height: 50px;
        }
        /* Galaxy S3, S5, Note II,  - Portrait 360 bis 374*/
        @media only screen and (min-device-width: 360px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            flex: 0 1 60px;
            height: 60px;
        }
        /* iPhone 6, 6s, 6Plus, Nexus 5X, Nexus 6P,  - Portrait 374 bis 767*/
        @media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            flex: 0 1 70px;
            height: 70px;
        }
        /* iPad mini, iPad and up */
        flex: 0 1 100px;
        margin: 0 6%;
        padding: 0;
        height: 100px;
        font-size: $font-size-x-medium;
        border-radius: 100%;
        text-align: center;
    }
}


