<ion-menu id="menu" [content]="content">

    <div class="menu-top"><img src="img/bitpocket_menue_header_640x347.jpg"></div>

    <ion-navbar *navbar>
        <button menuToggle="left"><ion-icon name="menu"></ion-icon></button>
        <ion-title>Request amount</ion-title>
        <ion-buttons end>
            <button (click)="navigateToAmountPage()">
                <div class="logo"></div>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-content class="outer-content">        
        <ion-list no-lines>
            <button ion-item *ngFor="let menuItem of menuItems" (click)="openPage(menuItem.page)">
                <ion-icon name="{{menuItem.icon}}" item-left></ion-icon>
                {{menuItem.name}}
            </button>
        </ion-list>
        
    </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content></ion-nav>