.payment {
    color: #FFF;

    .payment-qr {
        padding:0 10%;
        text-align: center;
        height: 35%;

        div {
            display:inline-block;            
            background:white;
            img {
                margin: 2rem;
            }
        }
    }
    
    .payment-readable-amount {
        text-align: center;
        color: #FFF;
        margin:0;
        font-size: 1.8rem;
        height: 25%;
        padding: 5% 10% 0 10%;
    }
    
    .payment-info {
        margin-top: 6rem;
        text-align: center;
        font-size: 1.2rem;
        .payment-text {
            margin:0;
        }        
    }
    
}

.payment-result {
    color: $basic-color-white;

    .payment-readable-box {
        height: 22%;
        .payment-readable-amount {
            font-size: $font-size-x-large;
        }

        .payment-readable-amount-type, .payment-readable-amount-btc  {
            font-size: $font-size-medium;
        }
        .first-line-height {
            line-height: $font-size-x-large;
        }
        .second-line-height {
            line-height: $font-size-medium;
        }
    }


    .result-box {
        height: 70%;
        text-align: center;

        .payment-result-icon {
            padding: 20% 10% 5% 10%;
            font-size: 8rem;
        }

        .payment-result-text {
            font-size: $font-size-small;
        }

    }

    .history-button {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        .button-show-history {
            border-radius: $button-border-radius;
        }
    }

}

.transaction-failed .history-button {
    display:none;
}