<ion-navbar *navbar>
    <ion-title>Payment request</ion-title>
    <ion-buttons end>
        <button (click)="showHome()">
            <div class="logo logo-loading"></div>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <div class="payment">
        <div class="amount-input">
            <ion-row>
                <ion-col class="amount-type active" width-30>
                    <ion-label>{{ currency }}</ion-label>
                </ion-col>
                <ion-col  class="readable-amount active" width-70>
                    <div class="amount-input-form active" [ngStyle]="{'font-size': fontSize+'rem'}">
                        {{ fiatAmount }}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="amount-type" width-30>                    
                    <ion-label>{{ bitcoinUnit }}</ion-label>
                </ion-col>
                <ion-col class="readable-amount" width-70>
                    <div class="amount-input-form">
                        {{ bitcoinAmount }}
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div class="divider-box">
            <div class="divider"></div>
        </div>

        <div class="payment-qr">
            <div [innerHTML]="qrImage"></div>
        </div>

        <div class="payment-info">
            Waiting for Payment
        </div>

    </div>
</ion-content>